<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingskys.datastore">

    <application>
        <provider
            android:name="com.kingskys.datastore.DataStoreProvider"
            android:authorities="${datastore_authorities}"
            android:enabled="true"
            android:exported="true">

        </provider>
    </application>

</manifest>